{% extends "base.html" %}

{% block text %}
<div class="div row">
    <div class="div col-sm-6">
        <h1 class="alert alert-danger"><i><b>ADD STUDENT</b></i></h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{forms.as_p}}
            <input type="submit" value="ADD" class="btn btn-dark">
        </form>
    </div>
    <div class="div col-sm-6">
        <h1 class="alert alert-danger"><i><b>SHOW STUDENT</b></i></h1>
        <table class="table caption-top">
            <caption class="alert alert-dark">List of Student</caption>
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in nice %}
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.password}}</td>
                <td>
                    <form action="{% url 'delete' i.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-dark"><p>Are you sure</p><input type="submit" value="Confirm" class="btn btn-success">
                        <a href="{% url 'upd' i.id %}" class="btn btn-warning">Edit</a>
                        
                        

                    </form>
                </td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
    </div>




</div>




{% endblock text %}
    